<div class="container-fluid">
  
  <jv-loader *ngIf="loading$ | async; else notLoading"></jv-loader>

  <ng-template #notLoading>
    <ng-container *ngIf="!(error$ | async)">
      <h1>{{ (details$ | async).city.name }}, {{ (details$ | async).city.country }}</h1>

      <div class="card current-card">
        <jv-detailed-weather [weather]="(details$ | async).current"
                             [unit]="unit$ | async"></jv-detailed-weather>
      </div>
      
      
      <div class="card current-card">
      <div class="wrapped">

      
      <jv-opinions [maisVotada]="(count$ | async)[3]" [imgMaisVotada]="(count$ | async)[4]" [imgSelecionada]="(count$ | async)[0]" [Selecionada]="(count$ | async)[1]"></jv-opinions>
       <div class="vertical">
         
       <button (click)="seleciona()" class ="opnionButton" >Selecionar </button>
       <button (click)="enviar()" class ="opnionButton" >Enviar</button>
      </div>

      
      </div>
     </div>
        
      


      <jv-daily-weather *ngFor="let daily of (details$ | async).daily"
                        [dailyWeather]="daily"
                        [timeZone]="(details$ | async).city.timeZone"
                        [unit]="unit$ | async"></jv-daily-weather>
    </ng-container>

    <div *ngIf="error$ | async">Erro</div>
  </ng-template>

 
</div>